<table class="table table-light mt-2">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Adicionar Ficha</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody *ngFor="let aluno of alunos">
    <tr>
      <th scope="row">{{aluno?.name}}</th>
      <td>{{aluno?.email}}</td>
      <td><a [routerLink]="['gradeFichas',aluno?.email]"><i class="bi bi-file-earmark-plus-fill"></i></a></td>
      <td><a [routerLink]="['editarAluno',aluno?.email]"><i class="bi bi-person-bounding-box"></i></a></td>
    </tr>
  </tbody>
</table>

