<app-header></app-header>
<body>


<div class="container">
  <div class="row">
    <div class="col-4 offset-5 mt-1">
      <img src="../../../assets/img/Logo_Base.svg" alt="Logo_Base">
    </div>
  </div>

  <div class="row" >

    <div class="col-5 offset-4 mt-3 p-3 " id="form_login">
      <div class="form-group">


        <label> <p> Usuário </p></label>
        <input type="email" class="form-control" id="email"  placeholder="Informe o seu  email">

        <label for=""><p> Senha </p></label>
        <input type="password" class="form-control" id="senha" placeholder="Informe a sua senha">

      </div>

      <div class=" col-2 mt-4 offset-5">
        <button type="button" class="btn btn-warning"> Logar </button>
      </div>

    </div>
  </div>

</div>
</body>
<app-footer></app-footer>
