<app-header></app-header>

<body>


  <div class="container">
    <div class="row">
      <div class="col-4 offset-5 mt-1">
        <img src="../../../assets/img/Logo_Base.svg" alt="Logo_Base">
      </div>
    </div>

    <div class="row">

      <div class="col-5 offset-4 mt-3 p-3 " id="form_login">
        <form action="" id="form_login" class="form" #loginForm>


          <div class="form-group">


            <label>
              <p> Usuário </p>
            </label>
            <input type="email" class="form-control" name="usuario"  required
               [(ngModel)]="usuario" #campoUsuario="ngModel"
              placeholder="Informe o seu  email">

            <label for="">
              <p> Senha </p>
            </label>
            <input type="password" class="form-control" name="senha"
            [(ngModel)]="senha" #campoSenha="ngModel"
            placeholder="Informe a sua senha">

            <div class=" col-2 mt-4 offset-5">
              <button type="button" class="btn btn-warning"> Logar </button>
            </div>

          </div>


        </form>
      </div>
    </div>

  </div>
</body>
<app-footer></app-footer>
