<app-pag-alert></app-pag-alert>
<div class="col-2 offset-5">
  <h1>Pagamentos</h1>
</div>
<select id="type" class="btn btn-outline-warning dropdown-toggle" formControlName="typeSearch"
    data-bs-toggle="dropdown" aria-expanded="false" (change)="specificSearch($event)">
    <option *ngFor="let t of types" [value]="t">
      <p>{{t}}</p>
    </option>
</select>

<div *ngIf="pagamentos.length !=0;else noResults">


<table class="table table-light mt-2">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Status</th>
      <th scope="col">ID Aluno</th>
      <th scope="col">Data Limite</th>
      <th scope="col">Data Pago</th>
      <th scope="col">Comprovante</th>
      <th scope="col">Validar</th>
      <th scope="col">Recusar</th>
    </tr>
  </thead>
  <tbody *ngFor="let monthlyPayment of pagamentos">
    <tr>
      <th scope="col">{{monthlyPayment?.paymentStatus}}</th>
      <th scope="col">{{monthlyPayment?.userId}}</th>
      <th scope="col">{{monthlyPayment?.dueDate | date:'dd/MM/yyyy'}}</th>
      <th scope="col">{{monthlyPayment?.paymentDate | date:'dd/MM/yyyy'}}</th>
      <th scope="col"><button type="button" class="btn btn-secondary" data-bs-toggle="modal" (click)="getImage(monthlyPayment.monthlyPaymentId)"
                              data-bs-target="#FormImg" data-bs-whatever="@mdo"><i class="bi bi-file-earmark-plus"></i>Comprovante</button>
        <!-- Modal: Start-->
        <div class="modal fade" id="FormImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Foto do Comprovante</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <img [src]="imageToShow"
                     alt="Comprovante"
                     *ngIf="!isImageLoading; else noImageFound">
                <ng-template #noImageFound>
                  <img src="" alt="">
                </ng-template>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal: Final-->


      </th>
      <th scope="col"><button type="button" class="btn btn-warning"
          (click)="aprove(monthlyPayment?.monthlyPaymentId,monthlyPayment)" [disabled]="monthlyPayment?.paymentStatus == 'PAGO'"><i class="bi bi-check-square"></i></button></th>
      <th scope="col"><button type="button" class="btn btn-danger"
          (click)="reprove(monthlyPayment?.monthlyPaymentId,monthlyPayment)" [disabled]="monthlyPayment?.paymentStatus == 'PAGO'"><i class="bi bi-x-square"></i></button></th>
    </tr>
  </tbody>
</table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" aria-current="page">{{currentPage+1}}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<ng-template #noResults>
  <h1>Não há mais pagamentos</h1>
</ng-template>
<br>
