
<header>
    <div class="left-section">
      <img src="../../../assets/img/Logo_Base_2.svg" alt="Logo_Base_2" [routerLink]="['']"  style="cursor: pointer">
        <p>Quem Somos</p>
        <p>Planos</p>
        <p>Fale conosco</p>
    </div>
    <div class="right-section">
      <div *ngIf="user$?.user?.name ; else login">
        <a (click)="navigateToHome()" routerLinkActive="ativok" class="btn btn-warning" style="margin-right: 5px;">
          {{user$?.user?.name}}  <i class="bi bi-person-circle"></i>
        </a>
        <a (click)="logout()" routerLinkActive="ativok">
          <i class="bi bi-power btn btn-warning"></i>
        </a>
      </div>
    </div>
</header>
<ng-template #login>
  <div class="right-section">
    <a [routerLink]="['home/login']" routerLinkActive="ativok"> <button mat-raised-button>  Entrar </button></a>
  </div>
  </ng-template>
