<form action="" [formGroup]="searchForm" (submit)="search()">
  <div class="col-lg-6 offset-lg-3">
    <div class="input-group mb-3 ">
      <input type="text" class="form-control" placeholder="Informe o nome do aluno" aria-label=""
      aria-describedby="button-addon2" formControlName="key">
      <button class="btn btn-outline-warning" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>
</form>

<div *ngIf="hasValuesToLoad" id="grade-alunos">
</div>
<div class="col-md-10 offset-md-1">
  <app-grade-alunos [pageable]="content$"></app-grade-alunos>
</div>

