<table class="table table-light " >
  <thead>
    <tr class="table-secondary">
      <th scope="col" >Data</th>
      <th scope="col">ID da Avaliação</th>
      <th scope="col">ID do Aluno</th>
      <th scope="col">ID do Profissional</th>
      <th scope="col">Formulário</th>
      <th scope="col">Arquivo</th>
    </tr>
  </thead>
  <tbody *ngFor="let physical of dados">
    <tr>
      <th scope="row">{{physical?.physicalAssessmentDate | date:'dd/MM/yyyy'}}</th>
      <th scope="row">{{physical?.physicalAssessmentId}}</th>
      <th scope="row">{{physical?.userId}}</th>
      <th scope="row">{{physical?.professionalId}}</th>
      <th><a [routerLink]="['avaliacaoFisica',physical?.physicalAssessmentId]"> <i class="bi bi-clipboard2-fill"></i></a></th>
      <th> <a [href]="sanitize(physical.filePath)" target="_blank" id="hrefPdf" class="btn btn-secondary" > Arquivo </a></th>
      <!-- <th scope="col"><button type="button" class="btn btn-secondary" data-bs-toggle="modal" (click)="getPdf(physical.physicalAssessmentId)"
                              data-bs-target="#FormPdf" data-bs-whatever="@mdo"><i class="bi bi-file-earmark-plus"></i>Arquivo</button>
        <-- Modal: Start--
        <div class="modal fade" id="FormPdf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Arquivo da Avaliação</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <-- Modal: Final--
      </th> -->
    </tr>
  </tbody>
</table>





