<div class="formulario">


  <div class="row">

    <div class="col-10 col-md-3 offset-md-5">
      <h1>Cadastro de Exercício</h1>
    </div>

  </div>

  <form action="" class="mt-4" [formGroup]="novoExercicioForm" (ngSubmit)="cadastrar()">
    <div class="row">

      <div class="col-11 col-md-4 offset-md-1">
        <label for=""><p>Nome</p></label>
        <input type="text" name="name" class="form-control" placeholder="Informe o nome do Exercício"
        formControlName = 'name'>
        <app-mensagem *ngIf="novoExercicioForm.get('name')?.errors && novoExercicioForm.get('name')?.touched"
        mensagem="Campo Obrigatório" ></app-mensagem>
      </div>

      <div class="col-11 col-md-4">
        <label for=""><p>Link</p></label>
        <input type="url" name="url" class="form-control" placeholder="Informe o link do youtube"
        formControlName='url'>
        <app-mensagem *ngIf="novoExercicioForm.get('url')?.errors && novoExercicioForm.get('url')?.touched"
        mensagem="Campo Obrigatório" ></app-mensagem>
      </div>

      <div class="col-11 col-md-8 mt-2 offset-md-1">
        <label><p>Descrição</p></label>
        <textarea formControlName='description' name="description" id="" class="form-control " cols="110" rows="8" ></textarea>
      </div>

      <div class="col-4 offset-md-10">
        <br>
        <button type="submit" class="btn btn-warning mt-2">Cadastrar</button>
      </div>
    </div>
  </form>
  </div>


