<div class="d-grid gap-2 col-10 offset-md-1">
  <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedidasGerais"
    aria-expanded="false" aria-controls="collapseMedidasGerais">
    <h1>Medidas Gerais</h1>
  </button>
</div>

<div class="collapse" id="collapseMedidasGerais">
  <br>
  <div class="row">
    <div class="col-10 col-md-2 offset-md-1">
      <label for="">
        <p> Altura</p>
      </label>
      <input type="number"  value="12.4"  readonly min="0" class="form-control" formControlName="height">
    </div>

    <div class="col-10 col-md-2">
      <label for="">
        <p>general_description</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="general_description">
    </div>

    <div class="col-10 col-md-2">
      <label for="">
        <p>Peso ideal</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="ideal_weight">
    </div>

    <div class="col-10 col-md-2">
      <label for="">
        <p>Peso atual</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="actual_weight">
    </div>

    <div class="col-10 col-md-2">
      <label for="">
        <p>IMC</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="IMC">
    </div>

  </div>

</div>

<div class="d-grid gap-2  col-10 offset-md-1">
  <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseMedidasCorporais" aria-expanded="false" aria-controls="collapseMedidasCorporais">
    <h1>Medidas Corporais</h1>
  </button>
</div>

<div class="collapse" id="collapseMedidasCorporais">
  <div class="row">
    <div class="col-10 col-md-3">
      <label for="">
        <p>Braço direito relaxado</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="relaxed_right_arm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Braço esquerdo relaxado</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="relaxed_left_arm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Braço direito contraído</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="contracted_right_arm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Braço esquerdo contraído</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="contracted_left_arm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Antebraço direito</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="right_forearm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Antebraço esquerdo</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="left_forearm">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Punho direito</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="right_fist">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Punho esquerdo</p>
      </label>
      <input type="number" class="form-control" value="12.4"  readonly min="0" formControlName="left_fist">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Pescoço</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="neck">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Peito</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="chest">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>abdômen</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="abdomen">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Ombro</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="shoulder">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Quadril</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="hip">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Panturrilha direita</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="right_calf">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Panturrilha esquerda</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="left_calf">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>coxa direita</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="right_thigh">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>coxa esquerda</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="left_thigh">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>coxa proximal direita</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="right_proximal_thigh">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>coxa proximal esquerda</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="left_proximal_thigh">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Diâmetro do osso do pulso</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="bone_fist_diameter">


    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>fêmur</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="femur">
    </div>
  </div>

</div>

<div class="d-grid gap-2  col-10 offset-md-1">
  <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseMedidasCutaneas" aria-expanded="false" aria-controls="collapseMedidasCutaneas">
    <h1>medidas Cutâneas</h1>
  </button>
</div>

<div class="collapse" id="collapseMedidasCutaneas">
  <div class="row">
    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea do bíceps</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_biceps">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea do tríceps</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_triceps">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea do abdômen</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_abdomen">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea do suprailíaco</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_suprailiac">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea axilar média</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_medium_armpit">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea do peito</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_chest">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea subescapular</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_subscapularis">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Dobra cutânea da coxa</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_folds_thigh">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>pele medial da panturrilha</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="skin_medial_calf">
    </div>
  </div>
</div>


<div class="d-grid gap-2 col-10 offset-md-1">
  <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseMedidasComplementares" aria-expanded="false" aria-controls="collapseMedidasComplementares">
    <h1>Medidas Complementares</h1>
  </button>
</div>

<div class="collapse" id="collapseMedidasComplementares">
  <div class="row">
    <div class="col-10 col-md-3">
      <label for="">
        <p>Gordura corporal</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="fat_mass">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Água corporal</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="corporal_water">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Massa residual</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="residual_weight">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Gordura visceral</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="visceral_fat">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Massa magra</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="lean_mass">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Massa muscular</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="muscular_weight">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Idade metabólica</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="metabolic_age">
    </div>

    <div class="col-10 col-md-3">
      <label for="">
        <p>Massa óssea</p>
      </label>
      <input type="number" value="12.4"  readonly min="0" class="form-control" formControlName="bone_weight">
    </div>

  </div>
</div>

<br>
<div class="card offset-md-1"  style="width: 30rem; background-color: rgb(43, 43, 43);">
  <div class="card-body">
    <h2 class="card-title">Descrição</h2>
    <p class="card-text">Texto Aqui</p>
  </div>
</div>



<br>
<br>
<br>
<br>
