<div class="formulario">


  <div class="row">

    <div class="col-3 offset-4">
      <h1>{{nomeTitulo}}</h1>
    </div>

  </div>

  <form action="" class="mt-4" [formGroup]="novoAlunoForm">
    <div class="row">

      <div class="col-2 form-group offset-1 mt-1" >
        <label for="typeUser">
          <p>Tipo do Usuário</p>
        </label>
        <select id="type" class="form-control" formControlName = "roles" (change)="checkValue($event)">
          <option *ngFor="let t of types" [value]="t">{{t}}</option>
        </select>

        <app-mensagem *ngIf="
        novoAlunoForm.get('roles')?.errors?.['required'] && novoAlunoForm.get('roles')?.touched "
          mensagem="Senha obrigatório">
        </app-mensagem>
      </div>

      <div class="col-sm-4 form-group mt-1">
        <label for="email"><p>E-mail</p></label>
        <input type="email" class="form-control" formControlName="email" placeholder="Informe o E-mail">

        <app-mensagem *ngIf="
        novoAlunoForm.get('email')?.errors?.['required'] && novoAlunoForm.get('email')?.touched "
          mensagem="E-mail obrigatório">
        </app-mensagem>
        <app-mensagem *ngIf="

        novoAlunoForm.get('email')?.errors?.['email'] " mensagem="E-mail no formato incorreto"></app-mensagem>
      </div>

      <div class="col-2 form-group mt-1" >
        <label for="senha"><p>Senha</p></label>
        <input type="password" class="form-control" formControlName="password" placeholder="Informe a senha">

        <app-mensagem *ngIf="
        novoAlunoForm.get('password')?.errors?.['required'] && novoAlunoForm.get('password')?.touched "
        mensagem="Senha obrigatório">
        </app-mensagem>
      </div>

      <div class="col-2 form-group mt-1" >
        <label for="confirmaSenha"><p>Confirme a Senha</p></label>
        <input type="password" class="form-control" formControlName="passwordConfirm" placeholder="Informe a senha">
        <app-mensagem *ngIf="
        novoAlunoForm.get('passwordConfirm')?.errors?.['required'] && novoAlunoForm.get('passwordConfirm')?.touched "
        mensagem="Senha obrigatório">
        </app-mensagem>
      </div>

      <div class="col-3 mt-1 offset-1">
        <label for="dataNascimento"><p>Data de Nascimento</p></label>
        <input type="date" name=""  class="form-control" formControlName="birthDate">
      </div>

      <div class="col-4 form-group  mt-1">
        <label for="nome"><p>Nome</p></label>
        <input type="text" class="form-control" formControlName="name" placeholder="Informe o nome completo" >
        <app-mensagem *ngIf="
        novoAlunoForm.get('name')?.errors?.['required'] && novoAlunoForm.get('name')?.touched "
        mensagem="Nome completo obrigatório">
        </app-mensagem>
      </div>

      <div class="col-3 form-group mt-1" >
        <label for="cpf"><p>CPF</p></label>
        <input type="text" class="form-control" formControlName="legal_document" placeholder="Informe o CPF">

        <app-mensagem *ngIf="
        novoAlunoForm.get('legal_document')?.errors?.['required'] && novoAlunoForm.get('legal_document')?.touched "
        mensagem="CPF obrigatório">
        </app-mensagem>
      </div>

      <div class="col-1 form-group mt-1 offset-1">
        <label for="cpf"><p>Sexo</p></label>
        <select name="" id="sex" class="form-control" formControlName="sex">
          <option value="M">M</option>
          <option value="F">F</option>
        </select>

        <app-mensagem *ngIf="
        novoAlunoForm.get('sex')?.errors?.['required'] && novoAlunoForm.get('sex')?.touched "
        mensagem="campo obrigatório">
        </app-mensagem>
      </div>

      <div class="col-3 form-group mt-1" >
        <label for="tel"><p>Telefone</p></label>
        <input type="tel" class="form-control" formControlName="phone" placeholder="Informe o contato">
      </div>

      <div class="col-sm-2 form-group  mt-1">
        <label for="cep"><p>CEP</p></label>
        <input type="tel" class="form-control" formControlName="zipCode" placeholder="Informe o CEP">

        <app-mensagem *ngIf="
        novoAlunoForm.get('zipCode')?.errors?.['required'] && novoAlunoForm.get('zipCode')?.touched "
        mensagem="CEP obrigatório">
        </app-mensagem>
      </div>

      <div class="col-4 form-group mt-1" >
        <label for="logradouro"><p>Logradouro</p></label>
        <input type="text" class="form-control" formControlName="street" placeholder="Informe a rua">
        <app-mensagem *ngIf="
        novoAlunoForm.get('street')?.errors?.['required'] && novoAlunoForm.get('street')?.touched "
        mensagem="campo obrigatório">
        </app-mensagem>
      </div>

      <div class="col-2 mt-1 offset-1">
        <label for="Numero"><p>Nº</p></label>
        <input type="text" name=""  class="form-control" formControlName="number" placeholder="Informe o número">

        <app-mensagem *ngIf="
        novoAlunoForm.get('number')?.errors?.['required'] && novoAlunoForm.get('number')?.touched "
        mensagem="número obrigatório">
        </app-mensagem>
      </div>

      <div class="col-2 mt-1">
        <label for="complemento"><p>Complemento</p></label>
        <input type="text" name=""  class="form-control" formControlName="complement" placeholder="Aprt">
      </div>

      <div class="col-2 mt-1">
        <label for="complemento">
          <p>Bairro</p>
        </label>
        <input type="text" name="" class="form-control" formControlName="district" placeholder="">
      </div>

      <div class="col-2 mt-1">
        <label for="cidade">
          <p>Cidade</p>
        </label>
        <input type="text" name="" class="form-control" formControlName="city" placeholder="">
      </div>

      <div class="col-2 mt-1">
        <label for="estado"><p>Estado</p></label>
        <select name="" id="" class="form-control" formControlName="state" placeholder="infome o Estado">
          <option value="AC">Acre</option>
          <option value="AL">Alogoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceara</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>

        <app-mensagem *ngIf="
        novoAlunoForm.get('state')?.errors?.['required'] && novoAlunoForm.get('state')?.touched "
        mensagem="campo obrigatório">
        </app-mensagem>
      </div>

      <div *ngIf="isAluno" class="row" style="display: flex">
        <div class="col-3 mt-1 offset-1">
          <label for="cpf"><p>Plano</p></label>
          <select class="form-control" formControlName="plan">
            <option *ngFor="let plan of plans" value="{{plan}}">{{plan}}</option>
          </select>
        </div>
        <div class="col-3 mt-1">
          <label for="weekday">
            <p>Dia da semana</p>
          </label>
          <mat-select formControlName="weekday" multiple>
            <mat-option *ngFor="let weekDay of weekDays" value="{{weekDay}}" >{{weekDay}}</mat-option>
          </mat-select>

        </div>
        <div class="col-3 mt-1">
          <label for="cidade">
            <p>Data de vencimento</p>
          </label>
          <input type="date" name=""  class="form-control" formControlName="dueDate">
        </div>
      </div>
      <div class="col-4 offset-10">
        <br>
        <button *ngIf="!isEdit" type="button" class="btn btn-warning mt-2" (click)="cadastrar()">Cadastrar</button>
        <button *ngIf="isEdit" type="button" class="btn btn-warning mt-2" (click)="editar()">Editar</button>
      </div>
    </div>
  </form>
  </div>

