<table class="table table-light me-5" >
  <thead>
    <tr class="table-secondary">
      <th scope="col" >Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ficha</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <div *ngIf="user?.roles?.[0]?.name === 'ALUNO' ">
      <tr>
        <td >{{user?.name}}</td>
        <td>{{user?.email}}</td>
        <td><i class="bi bi-file-earmark-plus-fill" data-bs-toggle="modal" data-bs-target="#fileModal"
          (click)="takeUserId(user.idUser)"></i></td>
      </tr>
    </div>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicione o arquivo:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="fileForm" (submit)="send()">
        <div class="modal-body">
          <input type="file" formControlName="PhysicalAssessment" accept=".pdf" name="" id="">
        </div>
        <div class="modal-footer">
          <a [routerLink]="['/home/avaliacaoFisica',[alunoId]]" routerLinkActive="router-link-active">Informar Manualmente</a>
          <button type="submit" [disabled]="fileForm.invalid" class="btn btn-warning">enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Fim do modal-->
