


  <div class="row">

    <div class="col-5 offset-3 offset-md-5" >
      <h1>{{nomeFicha}} <span><i class="bi bi-pencil-square" style="cursor:pointer;" (click)="wantsToEditUserFileName()"></i></span></h1>
    </div>

    <div *ngIf="isToEditUserFileName" style="display: flex; padding: 0 15%;">
        <input type="text" class="form-control" [(ngModel)]="newUserFileName">>
        <button type="button" class="btn btn-warning small" (click)="saveNewUserFileName()">Salvar</button>
        <button type="button" class="btn btn-danger small" (click)="cancelEditUserFileName()">Cancelar</button>
    </div>
  </div>

  <form action="" class="form-group mt-4" [formGroup]="fichaForm" >
    <div class="row">

      <div>
        <div *ngFor="let userExercise of userExercises; let i=index">
          <div>

            <div class="row">


              <div class="col-10 col-md-3 offset-md-1">

                <label for=""><p>Exercicio</p></label>
                <select id="type" class="form-control" (change)="checkValue(i, $event)">
                  <option value="-1"></option>
                  <option *ngFor="let exercicio of exercicios$"
                          [value]="exercicio.exerciseId"
                          [selected]="exercicio.exerciseId == userExercise.exercises?.exerciseId">{{exercicio.name}}</option>
                </select>

              </div>

              <div class="col-4 col-md-2 ">
                <label for=""><p>Series</p></label>
                <input type="number" min="0" class="form-control" [value]="userExercise.series" (change)="updateSeries(i, $event)">
              </div>

              <div class="col-4 col-md-2">
                <label for=""><p>Repetições</p></label>
                <input type="number" min="0" class="form-control" [value]="userExercise.repetition" (change)="updateRepetitions(i, $event)">
              </div>

              <div class="col-1">
                <br>
                <br>
                <button class="btn btn-danger" (click)="removeExercicio(i)"
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
                  <i class="bi bi-trash3">
                </i></button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="botao_Adicionar" class="col-2 offset-6 offset-md-8">
        <br>
        <button class="btn btn-warning" type="submit" (click)="addExercicio()">
          <i class="bi bi-plus-square-dotted"></i>
        </button>
      </div>

      <div class="col-2 offset-6 offset-md-8">
        <br>
        <button type="button" (click)="returnToList()" class="btn btn-warning mt-2">Voltar</button>
        <br>
        <button (click)="editar()"type="submit" class="btn btn-warning mt-2">Cadastrar</button>
      </div>
    </div>
  </form>



