<div class="col-4 offset-2 offset-md-4">
  <h1>Planos</h1>
</div>

<div class="col-2 offset-1 offset-md-8" *ngIf="isAdmin">
  <a [routerLink]="['/adm/cadastrarPlanos']" routerLinkActive="router-link-active" class="btn btn-warning">+ planos</a>
</div>

<br>
<div class="Card__Plans">
  <div class="row">
    <div *ngFor="let plano of planos" class="col-10 col-md-4">
      <div>
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h2 class="card-title">{{plano.name}}</h2>
            <p class="card-text">{{plano.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Código: {{plano.planCode}}</li>
            <li class="list-group-item">Valor: {{plano.price}}</li>
            <li class="list-group-item">Vezes por Semana: {{plano.contractedDays}}</li>
          </ul>
          <div class="card-body" *ngIf="isAdmin">
            <a [routerLink]="['/adm/editarPlano',plano.planId]" routerLinkActive="router-link-active"  class="card-link btn btn-warning">Editar</a>
            <button type="button" class="card-link btn btn-danger" (click)="deletePlan(plano.planId)"><i
                class="bi bi-trash3"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
