<footer class="rodape">

  <div class="container">

      <div class="row mt-3">

          <div class="col-3">
              <div>

                  <p class="estilo_letra"><i class="bi bi-geo-alt"></i> R. weaver, 170 - Lindeia, Belo Horizonte - MG 30690-740</p>
              </div>
          </div>

          <div class="col-3 offset-6">
                <a href="https://www.instagram.com/studiobrunomuniz/">

                <p class="estilo_letra"><i class="bi bi-instagram"></i> studiobrunomuniz</p>
                </a>
        </div>

      </div>
  </div>
</footer>

