<!-- Footer -->
<footer class="footer text-center navbar-fixed-bottom text-lg-start text-muted"  style="background-color: #FFD61E;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span><p><i class="bi bi-geo-alt"></i> R. weaver, 170 - Lindeia, Belo Horizonte - MG 30690-740</p></span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://api.whatsapp.com/send/?phone=5531997884965&text&type=phone_number&app_absent=0" class="me-4 text-reset">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="https://www.instagram.com/studiobrunomuniz/" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.google.com/maps/place/R.+Weaver,+170+-+Lind%C3%A9ia,+Belo+Horizonte+-+MG,+30690-740/@-19.9757575,-44.0622369,17z/data=!3m1!4b1!4m5!3m4!1s0xa6bfadf847ac6b:0x2685f4bd714d3d14!8m2!3d-19.9757575!4d-44.0622369" class="me-4 text-reset">
        <i class="bi bi-geo-alt"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>
<!-- Footer -->
