
<body>
  <div class="container">
    <div class="row">
      <div class="col-3 mt-0">
        <div class="logo">
          <img src="../../../assets/img/Logo_Base.svg" alt="" height="">
        </div>
        <p>Treino personalizado específico para os seus objetivos</p>
        <a href="https://api.whatsapp.com/send/?phone=5531997884965&text&type=phone_number&app_absent=0">
          <button class="btn btn-warning contato"><i class="bi bi-whatsapp"></i>  Entrar em Contato</button>
        </a>

      </div>

      <div class="col-6 offset-2">
        <br>
        <br>
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</body>
