<div class="row">
  <div class="col-2 offset-5">
    <h1>Pendências</h1>
  </div>
<!--
  <div class="alert alert-danger col-10 offset-1" role="alert">
    A simple primary alert—check it out!
  </div>
-->
  <form action="" (ngSubmit)="onSubmit()" [formGroup]="comprovanteForm" >
    <button type="submit" class="btn btn-warning offset-11">Enviar</button>
  <table class="table table-light mt-2">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Status</th>
        <th scope="col">Data</th>
        <th scope="col">Comprovante</th>
      </tr>
    </thead>
    <tbody *ngFor="let MonthlyPayment of pagamentos">
        <tr>
          <th scope="row">{{MonthlyPayment.paymentStatus}}</th>
          <td>{{MonthlyPayment.dueDate}}</td>
          <td><input type="file" formControlName="file" name="" id=""></td>
        </tr>
    </tbody>
    <tbody>
      <tr>
        <th scope="row">Pago</th>
        <td>13/02/2022</td>
        <td><input type="file" formControlName="test" name="" id=""></td>
      </tr>
  </tbody>
  </table>
  </form>
</div>
