<div class="row">
  <div class="col-1 col-md-2 offset-md-5">
    <h1>Pendências</h1>
  </div>
</div>

<form enctype="multipart/form-data" action="" [formGroup]="comprovanteForm">
  <table class="table table-light me-5 d-none d-lg-table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Status</th>
        <th scope="col">Data</th>
        <th scope="col">Comprovante</th>
        <th scope="col">Comentário</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody *ngFor="let monthlyPayment of pagamentosPendentes ; let i = index ">
      <tr>
        <th scope="row">{{monthlyPayment.paymentStatus}}</th>
        <td>{{monthlyPayment.dueDate | date:'dd/MM/yyyy'}}</td>
        <td><input formControlName="file" type="file" accept="image/*" formControlName="file" name="file" id="file"
            class="form-control" (change)="onFileSelected($event)" enctype="multipart/form-data"></td>
        <td><input type="text" formControlName="message" name="" id="" class="form-control"></td>
        <td><button (click)="onSubmit(i)" type="submit" class="btn btn-warning offset"
            style="cursor:pointer;">Enviar</button></td>
      </tr>
    </tbody>
  </table>
</form>


<!-- TABELA ACIMA ADAPTADA PARA CELULAR: START-->
<form enctype="multipart/form-data" action="" [formGroup]="comprovanteForm">
  <table class="table table-light me-5 d-table d-lg-none">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Status</th>
        <th scope="col">Comprovante</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody *ngFor="let monthlyPayment of pagamentosPendentes ; let i = index ">
      <tr>
        <th scope="row">{{monthlyPayment.paymentStatus}}</th>
        <td scope="row"><input formControlName="file" type="file" accept="image/*" formControlName="file" name="file" id="file"
            class="form-control" (change)="onFileSelected($event)" enctype="multipart/form-data"></td>
        <td><button (click)="onSubmit(i)" type="submit" class="btn btn-warning"
            style="cursor:pointer;"><i class="bi bi-send"></i></button></td>
      </tr>
    </tbody>
  </table>
</form>


<!--TABELA ACIMA ADAPTADA PARA CELULAR : END -->
<div class="row">
  <div class="col-1 col-md-2 offset-md-5">
    <h1>Pesquisar</h1>
  </div>



  <form enctype="multipart/form-data" action="" [formGroup]="comprovanteForm">
    <select id="type" class="btn btn-outline-warning dropdown-toggle" formControlName="typeSearch"
      data-bs-toggle="dropdown" aria-expanded="false" (change)="specificSearch($event)">
      <option *ngFor="let t of types" [value]="t">
        <p>{{t}}</p>
      </option>
    </select>
    <table class="table table-light mt-2">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Status</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody *ngFor="let monthlyPayment of pagamentos; let i = index ">
        <tr>
          <th scope="row">{{monthlyPayment.paymentStatus}}</th>
          <td>{{monthlyPayment.dueDate | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </form>



  <div class="col-1 col-md-2 offset-md-5">
    <h1>Historico de Finalizados</h1>
  </div>
  <form enctype="multipart/form-data" action="" [formGroup]="comprovanteForm">
    <table class="table table-light">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Status</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody *ngFor="let monthlyPayment of pagamentosPagos; let i = index ">
        <tr>
          <th scope="row">{{monthlyPayment.paymentStatus}}</th>
          <td>{{monthlyPayment.dueDate | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
