<div class="row">

  <div class="col-10 col-md-2 offset-1 offset-md-5">
    <h1>Minhas Fichas:</h1>
  </div>

</div>
<div class="row">
  <div *ngFor="let ficha of fichas$" class="col-8 col-sm-2">
    <div >
      <div class="card  mt-3 bg-secondary">
        <div class="card-body">
          <div class="offset-md-3">
            <h2 class="card-title">{{ficha.fileName}}</h2>
          </div>
          <a [routerLink]="['/aluno/exercicios',ficha?.userFileId]" class="btn btn-warning offset-md-3">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<!--
<div class="col-8 mt-3 offset-3">
  <div class="card w-75 mt-3 bg-secondary">
    <div class="card-body">
      <h2 class="card-title">Sessão A</h2>
      <p class="card-text">Costas e Ombros </p>
      <a [routerLink]="['aluno/exercicios/',teste]" class="btn btn-warning offset-10">Acessar</a>
    </div>
  </div>
</div>-->
